$breackpoints: (
    ssm:300px,
    sm: 540px,
    md: 768px,
    lg: 1024px,
    xlg:1440px,
    4k: 2560px
    );

:root{
        @media screen and (max-device-width: map-get($breackpoints, lg)) {
    .botonera {display:none; width:100%; font-size:16px; font-weight:bold; padding:0;}
    .buscador {display:none;}
    .logo-png {width: 30%;}
    .subnav {display:none;}
    // .navbar{position:static!important;}
    .botonera {
        li{ 
            a{padding:0px;margin:0px;}
            }
        }
        
      .main{width:100%;}
    section {display:inline-block;width: 100%;}
      .dog-home {display:none;}
      .vacum-home{width:100%;}
      .main-hist-grid{width:100%; display:flex; flex-direction:column; grid-template-areas:
        "titulo"
        "text-one-hist" 
        "img-text-one"
        "img-text-two" 
        "text-two-hist"
        "text-three-hist" 
        "img-text-three"
        "img-text-four" 
        "text-four-hist"
        "text-five-hist" 
        "img-text-five"
        "img-text-six"
        "text-six-hist"
        "text-seven-hist" 
        "img-text-seven" ;}
    [class*="text-"]{background:none; padding: 0;font-size: small;font-weight: 100px;line-height: 5px;}
    [class*="img-"]{width: 100%;margin: 0;padding: 0;align-items: center;}
    .main-hist-grid p{margin:0;width: 100%;text-align: left;padding: 20px;}
      .animate__animated{display:none;}
      .main-caract{width:100%; display:flex; flex-direction:column; margin:0; padding:0;}
      [class*="content-"]{margin:0;}
      .text-aditional{margin:0; padding:0; font-size:medium; background: none; line-height:25px}
      .main-cuidados{ 
        .bottons-cuid{margin: 0; padding: 0; 
            a{height: auto; width: 100%;padding: 3rem;margin: 2rem 0rem;font-size:larger;
                &:hover{font-size: larger;}} }}
        .main-higiene{flex-direction: column;padding-top: 5rem;}
        .main-alimentac{flex-direction: column;padding-top: 5rem;}
        .main-otrosc{flex-direction: column;padding-top: 5rem;}
      .form{justify-content:center;align-items: center;margin:auto; width:100%; background:none; padding: 2rem 0rem 0rem 0rem;
        .comments{width:250px; text-align: left;}
             h3{text-align:center;}
             .text-coment{line-height:15px;}
            }
        }
        
        @media screen and (min-device-width:map-get($breackpoints,md)) and (max-device-width:map-get($breackpoints,xlg)) {
            [class*="section-"]{display: flex;flex-direction: column;justify-content: center ;margin: 0; align-items:center;
                                 a{ margin: 2rem;}
                                }
        }

        @media screen and (min-device-width:map-get($breackpoints,xlg)) and (max-device-width:map-get($breackpoints,4k)){
            .dropdown {display: none;}
        }

        @media screen and (device-width: map-get($breackpoints, xlg)){
            .buscador {display:none;}
            .main-caract{width:100%; display:flex; flex-direction:column; margin:0; padding:0;}
            [class*="content-"]{margin:0;}
            .text-aditional{margin: 0; padding:0; font-size:medium;line-height:25px; width: 100%; background: none;}
            .form{justify-content:center;align-items: center;margin:auto; width:100%; padding: 15rem 20rem 0rem 0rem;}
        }

        @media screen and (device-width: map-get($breackpoints, lg)){
            .logo-png {width: 20%;}
        }
}
  