@import "scss/general.scss";
@import "main.scss";
@import "media-queries.scss";

$background-primary-color: #faebeb;
$background-acent-color: #f1cdbc;
$shadow-secondary: 0px 4px 9px rgba(0, 0, 0, 0.25);

$estilos-cards-home: (
    brepeat: no-repeat,
    size: cover,
    width: 500px,
    height: 300px,
    radius: 15px,
    trans: transform 0.5s
);

/*----------------------------------------*/


.navbar{
    background-color: $background-primary-color;
    box-shadow: 0px 4px 9px rgba(59, 59, 59, 0.25);
    width: 100%;
    position: fixed!important;
    z-index: 99;
    top: 0;
}


.subnav {
    display: none;
    position: absolute;
    margin-top: 1.9rem;
		li{
			a{
                display: flex;
                flex-direction: column;
                align-items: center;
				width: 100%;
				text-align: center;
				overflow: hidden;
                padding: 0;
			}
		}				
}



.cuidad{
	&:hover  
		.subnav {
				display: flex;
				flex-direction: column;
				align-content: center;
				background-color: $background-primary-color;
				overflow: hidden;
		}

}

.logo-png{
    overflow: visible;
    position: absolute;
    right: 5rem;
    top:0;
}


.botonera {
	position: relative;
    display: flex;
    flex-direction: row;
	
		li{
			list-style: none;
			margin: 0rem 1rem;
			padding: 30px 0px 0px 0px;
			a {
				padding: 40px;
				color: black;
				text-decoration: none;
				text-transform: uppercase;
				font-weight:400;
				font-size:15px;
				letter-spacing: 1.5px;
					&:hover{
						background-color: $background-acent-color;
						border-radius: 30px;
						border: none;
						overflow: hidden;
						height: inherit;
						font-weight: bolder;
					}
			}
		}
}



.buscador{
    margin-left: 14rem;
}
/*
@media only screen and (max-width: 980px) {

      .botonera { display: inline-block; width:100%; font-size: 16px; font-weight: bold;padding: 0; }
      .buscador { display:none;}
      .logo-png {display: none;}
      .subnav {display: none;}
      .navbar{position: static!important;}
      .botonera li a{padding:0px; margin:0px;}
    }
    */

/*-------------termino header general de navbar---------*/




/*---------------------comienza index--------------------------------------------*/

.body-index{
    width: 100%;
    background-image: 
    url('../images/flowers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.animate__animated{
    text-align: center;
    margin-top: 33rem;
    margin-left: 25rem;
    color: rgba(23, 31, 33, 0.701);
    word-spacing: 90px;
    width: 50%;
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-shadow: rgba(236, 81, 192, 0.221) 6px 0 10px;
    transform: translate();
}


.main-index{
    width: 100%;
    margin-top: 13rem;
    background-image: 
    url('backgraunds/main-backg.jpg');
    background-blend-mode: darken, luminosity;
    box-shadow: 20px 4px 9px rgba(0.25, 0.5, 0.8, 0.25);
    margin-bottom: 4rem;
}

.top-home{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.dog-home{
    width: 1000px;
    
}

.dog-home{
	&:hover{
		background-image: url('images/globo-texto-txt.png');
		background-position: top 30px left 460px;
		background-repeat: no-repeat;
		background-size: 60%;
	}
}

.vacum-home{
    display: flex;
    justify-content: right;
    padding: 0;
    margin: 0;
   /* transition: transform 3s;*/
}

/**/

.section-extras{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}

.section-up{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			text-align: center;
			color: aliceblue;
			padding: 30px;
			font-size: x-large;
		}
}



.section-down{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
		a{
			text-decoration: none;
			color: aliceblue;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			text-align: center;
			padding: 30px;
			font-size: x-large;
		}
}



.barf{
    background-image: url('/images/perro\ shih\ tzu\ junto\ a\ unos\ tomates.avif');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
    
}

.section-extras{
		a{
			&:hover{
			transform: scale(1.1);
					}
		}
}

.stress{
    background: url('/images/shih-tzu-breed-picture-1.jpg');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
}

.sarro{
    background-image: url('/images/sarropic.crdownload');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
}

.rcp{
    background: url('/images/shih-poo-mixed-dog-breed-pictures-cover.jpg');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
}

.hemlich{
    background: url('/images/shih-tzu-3.jpg');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
}

.ice-cream{
    background: url('/images/ice-cream.jpg');
    background-repeat: map-get($estilos-cards-home , brepeat);
    background-size:  map-get($estilos-cards-home , size);
    width: 500px;
    height: 300px;
    border-radius:  map-get($estilos-cards-home , radius);
    transition:  map-get($estilos-cards-home , trans);
}

section{
	a{
		&:hover{
			opacity: 75%;
			color:black;
			text-shadow: rgb(244, 240, 220) 1px 0 10px;
			font-weight: bolder;
			font-size: xx-large;
			}
	}
}

/*
@media only screen and (max-width: 980px) {
 
    main{width: 100%;}
   section { display: inline-block;}
    .dog-home {display: none;}
    .vacum-home{width: 100%;}
    .animate__animated{display: none;}
}*/

/*------fin pagina index-------*/


/*-------------------comienzo pagina historia-------------------------------------*/

.main-hist-grid{
    overflow-x:hidden;
    display: grid;
    justify-items: center;
    grid-template-rows: 200px, repeat(7 560px);
    grid-template-columns: repeat(2 50%);
    grid-template-areas: 
    "titulo titulo"
    "text-one-hist img-text-one"
    "img-text-two text-two-hist"
    "text-three-hist img-text-three"
    "img-text-four text-four-hist"
    "text-five-hist img-text-five"
    "img-text-six text-six-hist"
    "text-seven-hist img-text-seven" ;
		p{
			width: 600px;
			margin: 5rem 0rem 0rem 5rem;
			padding: 2rem;
			font-size: larger;
			font-weight: 900px;
			letter-spacing: 5px;
			line-height: 30px;
		}
			img{
				margin-left: 6rem;
				width: 60%;
				}
}


.text-one-hist{
    grid-area: text-one-hist;
    background: url('/images/backgroung-aper-2.png');
    background-size: 110%; 
    padding: 130px 25px 10px 50px;
    background-repeat: no-repeat;
}
.img-text-one{ 
    grid-area: img-text-one;
    margin-top: 9rem;
    width: 100%;
}

.text-two-hist{
    grid-area: text-two-hist;
    background: url('/images/background-paper.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6rem;
    padding: 2rem 2.5rem 0rem 0rem;
}
.img-text-two{
    grid-area: img-text-two;
    width: 76%;
    margin-left: 19rem;
    margin-top: 2rem;
}

.text-three-hist{
    grid-area: text-three-hist;
    background: url('/images/backgroung-aper-2.png');
    background-size: 110%; 
    padding: 150px 55px 10px 60px;
    background-repeat: no-repeat;
}
.img-three-hist{
    grid-area: img-text-three;
    width: 110%;
    margin-left: 19rem;
    rotate: 10deg;
}

.text-four-hist{
    grid-area: text-four-hist;
    padding-bottom: 8rem;
    padding-left: 2rem;
    background: url('/images/background-paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.img-four-hist{
    grid-area: img-text-four;
    width: 100%;
    margin-left: 39rem;
    margin-top: 1rem;
}

.text-five-hist{
    grid-area: text-five-hist;
    background: url('/images/background-paper.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 6rem;
    padding: 25px;
}
.img-five-hist{
    grid-area: img-text-five;
    width: 110%;
    margin-left: 19rem;
}

.text-six-hist{
    grid-area: text-six-hist;
    background: url('/images/backgroung-aper-2.png');
    background-size: 110%; 
    margin-right: 15rem;
    padding: 150px 50px 10px 70px;
    background-repeat: no-repeat;
}
.img-six-hist{
    grid-area: img-text-six;
    width: 60%;
}

.text-seven-hist{
    grid-area: text-seven-hist;
    background: url('/images/background-paper.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6rem;
    padding: 2rem 4rem 0rem 0rem;
}
.img-seven-hist{
    grid-area: img-text-seven;
}

/*
@media only screen and (max-width: 980px) {
 
    .main-hist-grid{width: 100%; display: flex; flex-direction: column;grid-template-areas:"titulo"
        "text-one-hist" 
        "img-text-one"
        "img-text-two" 
        "text-two-hist"
        "text-three-hist" 
        "img-text-three"
        "img-text-four" 
        "text-four-hist"
        "text-five-hist" 
        "img-text-five"
        "img-text-six"
        "text-six-hist"
        "text-seven-hist" 
        "img-text-seven" ;}
    [class*="text-"]{background: none;padding: 0;font-size: small;font-weight: 100px;line-height: 5px;}
    [class*="img-"]{width: 100%;margin: 0;padding: 0;align-items: center;}
    .main-hist-grid p{margin:0;width: 100%;text-align: left;padding: 20px;}
}
*/

/*---------------fin pagina historia----------*/



/*-------------comienzo pagina caracteristicas --------------*/

.main-caract{
    display: grid;
    width: 100%;
    justify-content: center;
    overflow-x: hidden;
    grid-template-columns: repeat(3, 775px);
    grid-template-rows: 400px auto auto auto;
    grid-template-areas:
    "content-eyes dog-caract ."
    "content-peso dog-caract content-ocico"
    "content-hair dog-caract ."
    "text-aditional text-aditional text-aditional";
    row-gap: 1rem;
}

.dog-caract img{
    grid-area: dog-caract;
    width: 100%;
    margin-top: 11rem;
}

.content-eyes{
    grid-area: content-eyes;
    background-color: $background-primary-color;
    box-shadow: $shadow-secondary;
    height :min-content;
    margin: 10rem 0rem 0rem 10rem;
    border-radius: 12px;
    padding: 1rem;
}

.content-hair{
    grid-area: content-hair;
    background-color: $background-primary-color;
    box-shadow: $shadow-secondary;
    margin: 0rem 0rem 0rem 16rem;
    border-radius: 12px;
    padding: 1rem;
}

.content-ocico{
    grid-area: content-ocico;
    background-color: $background-primary-color;
    box-shadow: $shadow-secondary;
    height :min-content;
    margin: 0rem 9rem 0rem 0rem;
    padding: 1rem;
    border-radius: 12px;
}

.content-peso{
    grid-area: content-peso ;
    background-color: $background-primary-color;
    box-shadow: $shadow-secondary;
    height :min-content;
    margin: 11rem 0rem 0.5rem 10rem;
    padding: 1rem;
    border-radius: 12px;
}

[class*="content-"]{
    line-height: 30px;
    letter-spacing: 3px;
}


.text-aditional{
    grid-area: text-aditional;
    text-align: center;
    margin: 0rem 13rem;
    padding: 18rem;
    font-size: x-large;
    letter-spacing: 3px;
    font-variant: small-caps;
    background: url('/images/background-paper.png');
    background-repeat: no-repeat;
    background-size: cover;

}
/*
@media only screen and (max-width: 980px){
    .main-caract{width:100%; display: flex; flex-direction: column;  margin: 0; padding: 0; }
    [class*="content-"]{margin: 0;}
    .text-aditional{margin:0;padding: 0;font-size: medium;background: none;line-height : 25px}
}*/

/*------------fin pagina caracteristicas----------------------*/


/*-------------------comienza cuidados-home-----------------------------*/

.main-cuidados img{
    width: 110%;
    margin-bottom: 0rem;
}


.bottons-cuid{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    margin-top: 12.6rem;
    margin-left: 9rem;
		a{
			margin: 6rem;
			width: 400px;
			height: 85px;
			color: transparent;
			font-size: xx-large;
		}
}


/*--------fin pagina cuidados--------*/


/*--------------------comineza contactanos-----------------------------------*/
.main-form{
    height: 1080px;
}

.form{
     display: flex;
    flex-direction: column;
    align-items: center; 
    margin:5rem 10rem;
    padding: 20rem 20rem 0rem 0rem;
    background-image: url('../backgraunds/formulario.png');
    background-size: 100%;
    background-repeat: no-repeat;
		input{
			border: 0px;
			background-color: transparent;
			border-bottom: dotted;
			width: 300px;
			height: 40px;
		}
			.comments{
					border: 2px dotted black;
					width: 600px;
					height: 200px;
					margin-top: 1rem;
			}
				.button-sbmit{
						background-color: $background-primary-color;
						border: none;
						border-radius: 12px;
						margin-top: 30px;
						cursor: pointer;
							&:hover{
								box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
								}
				}
}

.nom{
    margin: 2rem;

}

.email{
    margin: 1rem;
}


.text-coment{
    margin-top: 2rem;
}


span{
	&::after{
    content: "-";
	}
}
/*
@media only screen and (max-width: 980px){
    .form{justify-content: left;margin-left: 0;width: 100%;background:none;}
    .form .comments{width: 250px;text-align: left;}
    h3{
        text-align: center;
    }
}*/
/*---------------fin pagina contactanos-------------*/


/*----------------------cominezo footer----------------------------------*/

footer{
    background-color: $background-acent-color;
    bottom: 0;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
}